<!--   
<ul> 
    Refresca la pagina hay que aclarar direcciones
    <li><a href="/formulario">Formulario</a></li>
    <li><a href="/ejercicio">Ejercicio</a></li>

    No refresca la pagina y sirve con todo
    <li><a routerLink="/formulario">Formulario</a></li>
    <li><a routerLink="/ejercicio">Ejercicio</a></li>
    <li><a routerLink="/publicaciones">Publicaciones</a></li>
    <li><a routerLink="/login">Login</a></li>
</ul>
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand" href="https://parcial-edi-front.herokuapp.com/inicio.html">
            <img src="https://images.vexels.com/media/users/3/224148/isolated/lists/93de80b810ad081d6d4bae216da5e4e5-logotipo-de-coche-deportivo-antiguo.png" width="35" height="35" class="d-inline-block align-top" alt="No se encontro logo">
            Rz Automóviles
        </span>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/formulario">Formulario</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/formulario/aaa">Formulario+</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/ejercicio">Ejercicio</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/publicaciones">Publicaciones</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
            </ul>
        </div>
        <div>
            <button class="iconoUsuario" routerLink="/perfil"><i class="bi bi-person-circle iconoUsuario"></i> Usuario</button>
        </div>
        
    </div>
    <!--Imagen de Perfil
    <a href="">
        <img src="./img/GabrielRzecznik.jpg" class="d-inline-block align-top fotoPerfil" alt="No se encontro foto de perfil">
    </a>-->
</nav>