<div class="fondoPublicaciones">
    <div class="container">
        <div class="row">
            <div class="col-md-8 login1">
                <br>
                <div class="row">
                    <div class="col-md-3 centrado">
                        <!--Foto-->
                        <img src="./img/GabrielRzecznik.jpg" class="d-inline-block align-top fotoPerfil2" alt="No se encontro logo">
                        <br><br>
                    </div>
                    <div class="col-md-9">
                        <!--Usuario-->
                        <span class="texto nombreYApellido" id="mostrarNombre"></span>&nbsp;<span class="texto nombreYApellido" id="mostrarApellido"></span>
                        <br>
                        <i class="bi bi-envelope-fill"></i>
                        <span class="texto" id="mostrarCorreo"></span>
                        <br>
                        <i class="bi bi-geo-alt-fill"></i>
                        <span class="texto" id="mostrarProvincia"></span>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-4 login2">
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>
