<div class="container">
    <div class="row">
        <div>
            <label>Usuario:</label>
            <br>
            <input type="text">
            <br><br>
            <label>Correo:</label>
            <br>
            <input type="text">
            <br><br>
            <label>Contraseña:</label>
            <br>
            <input type="password" name="password" id="password">
            <br><br>
            <input type="button" (click)=registrar() value="Registrar">
            <br><br>
            <input type="button" (click)=atras() value="Atras">
        </div>
    </div>
</div>
