<!--
   <app-primer-componente></app-primer-componente>
    <br>
    <app-formulario></app-formulario>
    <br>
    <app-ejercicio></app-ejercicio> 
-->
<app-menu></app-menu>
<router-outlet></router-outlet>

<!--Directive-->
<h2 appNuevaDirectiva>Hola 1</h2>
<h2 appNuevaDirectiva="fondoAzul">Hola 2</h2>
<h2 [appNuevaDirectiva]="soyUnaVariable">Hola 3</h2>
<h2 appNuevaDirectiva [ngClass]="soyUnaVariable">Hola 4</h2>
<!--Clases Pipe-->
{{fecha|date:"d/M/yy"}}<!--m = minuto-->
{{soyUnaVariable|uppercase}}<!--uppercase o lowercase-->
{{soyUnaVariable|modificador}}